.about-h {
  padding: 80px 0;
}
div {
  display: block;
}
section,
footer {
  position: relative;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.img-h {
  animation: bounceHero 3s infinite;
  position: relative;
}
img {
  max-width: 100%;
}
img,
svg {
  vertical-align: middle;
}
ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
ul.features-item,
ul.cele-list {
  display: block;
  padding: 0;
}
ul.features-item li,
ul.cele-list li {
  display: block;
  list-style: none;
}
li {
  transition: all 0.3s linear;
}
.cel-content .gen-title {
  font-size: 35px;
  color: #ef7537;
  font-weight: bold;
  margin: 0 0 30px;
}
.cel-content p {
  font-size: 18px;
  line-height: 36px;
  color: #777;
}
p {
  margin: 0;
  font-weight: 400;
}
.cel-content span {
  font-weight: 400;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  padding-inline-start: 20px;
  transition: all 0.3s linear;
}
ul.cele-list li ul li {
  list-style: inherit;
  display: list-item;
}
.cel-content .btn {
  margin: 30px 0 0 !important;
  display: inline-block;
}
.btn-1 {
  position: relative;
  font-size: 0.838rem;
  font-weight: 500;
  padding: 8px 35px;
  line-height: 1.75em;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
  box-shadow: none !important;
  background-color: #fdbc00;
  border-color: #fdbc00;
  color: #fff;
}
.btn-1:hover {
  position: relative;
  font-size: 0.838rem;
  font-weight: 500;
  padding: 8px 35px;
  line-height: 1.75em;
  border-radius: 50px;
  background-color: #ff6900;
  border-color: #ff6900;
  color: #fff;
}
